.page{
    width: 100%;
    height: 100%; 
    position: absolute;
}

.top-tags{
    bottom: auto; 
    top: 15px;
}

.tags{
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'la Belle Aurore';
}
.bottom-tag-html{
    margin-left:  -20px;
}

.container{
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height:566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style:preserve-3d ;
     animation: fadeIn 1s forwards;
     animation-delay: 1s;
}


.about-page{
    .text-zone{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
    }
    h1{
        font-size: 52px;
        font-family: 'coolvetica';
        color: #ffd700;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        
    }

    p{
        font-size: 18px;
        color: #fff;
    }
}

@media only screen and (max-width:600px) {

    .App{
        height: 100%;
       .page{
        .top-tags{
            margin-top: 0px;
            
        }
        .tags{
            margin-left: -100px;
        }
        .bottom-tag-html{
            margin-left: 0;
            margin-bottom: -100px;
        }
       }
    }
}