.home-page{
    .text-zone{
        position: absolute;
        left:10% ;
        top:50%;
        transform: translateY(-50%);
        width: 60%;
        max-height: 90%;
    }
    h1{
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'coolvetica';
        font-weight:400;

        &::before{
            content:'<h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after{
            content:'<h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 19px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
        img{
            width: 61px;
            margin-left: 25px;
            margin-top: px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;


        }
    }
    h2{
        color: #fff;
        margin-top:20px ;
        font-weight: 400;
        font-size:30px;
        font-family: 'sans-serif';
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;

    }
}

.flat-button{
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing:4px;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards; 
    white-space: nowrap;


    &:hover{
        background-color: #ffd700;
        color: #333;
    } 
}


.auto-text{
    color: #ffd700;
    padding-left: 10px;
}

@media only screen and (max-width:600px) {
    .home-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    .text-zone{
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
        margin-top: -50px;

    h1{
        width: 100%;
        font-size: 30px;
        margin-left: 0px; 
        letter-spacing: 5px;
        &::before{
            margin-left: 25px;
            top: 100px;
        }
    }
    h2{
        margin-left: 0px;
    }
}
.flat-button{
    text-align: center;
    padding: 10px 0;
    width: 200px;
}


}
}